html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#board {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

div.white {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 100px;
    width: 100px;
    background-color: white;
    float: left;
}

button.black {
    background-color: black;
}

#pic {
    height: 90px;
    width: 90px;
}